<p>about-us works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Infinite Pages</title>
    <link rel="stylesheet" href="about-us.component.css">
</head>
<body>
    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <p>
                Welcome to  Furniture Store

            we believe that furniture is more than just pieces to fill a room—it’s about creating spaces where memories are made. Our journey began with a passion for design and a commitment to craftsmanship, and today, we are proud to offer a wide range of high-quality furniture that combines style, comfort, and functionality.
           </p>
      </section>
        <div class="about-image">
            <img src="https://m.media-amazon.com/images/I/71Pl+x8UnvL._AC_UL480_FMwebp_QL65_.jpg" alt="Furniture Store">
        </div>
    </main>
</body>
</html>